html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #D4E2F1 url(tlo.png) repeat;
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	color: #444;
}


h1, h2, h3 {
	margin: 0;
	padding: 0;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 180%;
}

strong {
}

a {
	color: #444;
}

a:hover {
	text-decoration: none;
}


hr {
	display: none;
}

ul.style1
{
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.style1 li
{
	padding: 15px 0px 15px 0px;
	border-top: 1px solid #E5E5E5;
}

ul.style1 a
{
	color: #747474;
}

ul.style1 .first
{
	padding-top: 0;
	border-top: none;
}


.container {
	
	margin: 0px auto;
}

.clearfix {
	clear: both;
}


#header-wrapper {
	overflow: hidden;
	height: 600px;
}

#header {
	width: 960px;
	height: 200px;
	margin: 0 auto;
	padding: 0px 20px;
}


#logo {
	overflow: hidden;
	padding: 3em 0em;
}

#logo h1, #logo p {
	text-align: center;
}

#logo h1 {
	padding: 0px 0px 0px 0px;
	text-transform: lowercase;
	font-size: 4em;
	font-weight: 600;
	color: #444
}

#logo p {
	margin-top: -20px;
	padding: 0px 0px 0px 5px;
	font-size: 20px;
	font-weight: 300;
	color: #444;
}

#logo p a {
	color: #444;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #444;
}


#menu-wrapper {
	overflow: hidden;
	height: 52px;
	margin-bottom: 2em;
	border-top: 1px solid #87A2B3;
	border-bottom: 1px solid #87A2B3;
	background: #fff;
}

#menu {
	overflow: hidden;
	height: 52px;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	padding: 0px 30px;
	line-height: 52px;
	border: none;
	text-decoration: none;
	text-transform: lowercase;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 300;
	color: #444;
}

#menu a:hover, #menu .current_page_item a {
	background: #87A2B3;
	text-decoration: none;
	color: #ffff;
}

#menu .current_page_item a {
}



#page {
	overflow: hidden;
	width: 1100px;
	margin-bottom: 3em;
	padding: 5em 50px;
	background: #FFF;
	border: 1px solid #87A2B3;
}

#page h2 a
{
	letter-spacing: -2px;
	text-decoration: none;
	font-size: 1.7em;
	font-weight: 400;
	color: #444;
}

#center
{
	
	margin-right: 50px;
}

#left
{
	float: left;
	width: 450px;
	margin-right: 50px;
}

#right
{
	float: left;
	width: 300px;
}

#right h2
{
	padding-bottom: 1.2em;
	font-weight: 400;
	font-size: 1.7em;
	font-weight: 400;
	color: #706C53;
}

#right video
{
	margin-top: -30px;
}


#footer {
	overflow: hidden;
	padding: 3em 0em;
	border-top: 1px solid #87A2B3;
	color: #444;
}

#footer p {
	text-align: center;
}


/* list*/
#page ul {
  margin: 0;
  padding: 0;
}

#page ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


#page ul li:nth-child(odd) {
  background: #f9f9f9;
}

#page ul li:hover {
  background: #ddd;
}

#page ul li.zrobione {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

#page ul li.zrobione::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

.header {
  background-color: #87A2B3;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.addBtn {
  padding: 10px 10px 7px;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}
/*  GALERIA */
div.gallery {
  border: 1px solid #ccc;
  float: left;
  width: 170px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
</style>